.node_circle {
    fill: #66663d;
    stroke: #414141;
    stroke-width: 0.5;
}

.node {
    stroke-width: 0.19;
    stroke: #222222;
}

.location_node_unit:hover {
    fill: #a9a959;
    cursor: grab;
    stroke-width: 0.15;
}

.grabbed {
    cursor: grabbing;
    fill: #c8c863;
    stroke: #545454;
    stroke-width: 0.2;
}

.node_edge {
    fill: none;
    stroke: gold;
    stroke-width: 3;
}

.debug {
    fill: none;
    stroke: #85001c;
    stroke-width: 1;
    opacity: 75%;
}

.debug_node {
    fill: none;
    stroke: #85001c;
    stroke-width: 1;
    opacity: 75%;
}

.debug_edge {
    fill: none;
    stroke: #85001c;
    stroke-width: 1;
    opacity: 75%;
}

.debug_textdebug_node {
    fill: #85001c;
    stroke: none;
    font-size: 1.4pt;
    opacity: 75%;
}

.movable {

}

.grid {
    stroke-width: 0.3;
    stroke: #414141;
    opacity: 0.5;
    z-index: 3;
}

.node_label {
    fill: black;
    stroke: none;
    font-size: 3pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}