.tooltip {
    position: absolute;
    top: 0px;
    left: 0px;
}

.map-editor {
    height: inherit;
    width: inherit;
}

.shift-pressed {
    cursor: copy;
}

/* SVG GROUPS */
#background {
    cursor: move;
}