.tooltip {
    position: absolute;
    top: 0px;
    left: 0px;
}

.map-editor {
    height: inherit;
    width: inherit;
}

.shift-pressed {
    cursor: copy;
}

.node-add-helper-circle {
    stroke: darkgreen;
    stroke-width: 1px;
    fill: white;
}

.node-add-helper-plus-small {
    fill: darkgreen;
    font-size: 2px;
}

.node-add-helper-plus-large {
    fill: darkgreen;
    font-size: 4px;
}